@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');

h1{
  font-family: 'Permanent Marker', cursive;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: 'Amatic SC', cursive;
}

body{
    background: #E2F0CB;
}

.wrapper{
  display: flex;
  position: relative;
}

.wrapper .sidebar{
  position: fixed;
  width: 200px;
  height: 100%;
  background: #B5EAD7;
  padding: 30px 0;
}

.wrapper .sidebar h2{
  color: #FFB7B2;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 30px;
}

.wrapper .sidebar ul li{
  padding: 15px;
  border-bottom: 1px solid rgba(0,0,0,0.05);
  border-top: 1px solid rgba(225,225,225,0.05);
}

.wrapper .sidebar ul li a{
  color: #c7d1ea;
  display: block;
}

.wrapper .sidebar ul li a .fas{
  width: 25px;
}

.wrapper .sidebar ul li :hover{
  background: #b5e8ea;
}

.wrapper .sidebar ul li :hover a{
  color: #b5e8ea;
}

.wrapper .main_content{
  width: 100%;
  margin-left: 200px;

}

.wrapper .main_content .header{
  padding: 20px;
  background: #fff;
  color: #ccffcc;
  border-bottom: 1px solid #e0e4e8;
}

.wrapper .main_content .info{
  margin: 20px;
  color: #ggg;
  line-height: 25px;
}

.wrapper .main_content .info div{
  margin-bottom: 20px;
}

.navCristina{
  background-color: #B5EAD7;
}
